*{
    padding: 0px;
    margin: 0px;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:white;
}
/* Header */
header {
    display:flex;
    height: 100.84vh;
    background-color:white;
    color: #fff;
    padding: 3.361vh 0;
    justify-content:space-evenly;
}
#header .header-container .header-text {
    width: 29vw;
    color: black;
    text-align: justify;
    height: 20vh;
}
.header-text pre{
    font-size: 1em;
}
#header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
#header #header-photo{
    height: 40.42vh;
    width: 18.4375vw;
    margin: 14.168vh 18.8125vw 0px 8.0625vw;
    border-radius: 50%;
    background-color: #737a7a;
    box-shadow: 2px 4px 2px 2px #bcfaf9;
    background-image: url(images/ayush.jpg);
    background-size: cover;
    /* transition: all 0.3s ease-in-out; */
}

/* Navigation Bar */
.links nav{
    display: inline;
    height: 5.042vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 1.68vh 1.5625vw;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    position: relative;
    transition: all 0.2s linear;
}
nav ul li a:hover{
    transition-delay: .05s;
    color: blue;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: navy;
    position: absolute;
    left: 0px;
    bottom: -5px;
    transition: 0.27s;
}
nav ul li a:hover::after{
    width: 100%;
}
h1, h2, h3 {
    color:#141E46;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    font-size: 3.75rem;
    letter-spacing: 2px;
}
h2 {
    font-size: 1.875rem;
    margin-bottom: 5.042vh;
}
h3 {
    font: size 1.25rem;;
    margin-bottom: 1.680vh;
}
p {
    font-size: 0.938rem;
    line-height: 1.5;
    color: #555;
}
/*Skill Section */

.skill-container{
    height: 100.84vh;
    padding-left: 1.5625vw;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.abt-me{
    height: 80vh;
    width: 80vw;
    color: black;
    margin-top: 15vh;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 3px rgb(211, 211, 211);
}
.abt-me-one{
    /* width: 30vw; */
    display: inline-flex;
    align-items: flex-start;
    color: black;
    margin: 2.7vh 6vw;
}
#about-skill{
    /* height: 48.76vh; */
    /* width: 30.78vw; */
    margin-right: 7vw;
}
#about-skill ul li{
    margin-top: 2vh;
}

label{
    /* margin-right: 0.5vw; */
    color:black;
} 
progress{
    color:black;
    width: 12vw;
    margin-top: 2vh;
    margin-right: 4.2vw;
}

#about-image{
    height: 45.76vh;
    width: 26.90vw;
    background-image: url(/images/html1.jpg);
    background-size: cover;
    border-radius: 18%;
    box-shadow: black 4px 4px 6px 3px;
}
.abt-me-two{
    display: block;
    color: black;
    margin: 3vh 7vw;
}
.abt-me-two ul li{
    color: black;
    font-size: 16px;
    list-style: none;
}


/* Education section */

.edu-content-left{
    height: 14vh;
    width: 36vw;
    background-color: black;
    position: relative;
    left: 11%;
    border: 1px solid black;
    border-radius: 45px;
    margin-top: 15px;
}
.edu-content-right{
    height: 14vh;
    width: 36vw;
    background-color: black;
    position: relative;
    right: -52%;
    border: 1px solid black;
    border-radius: 45px;
}

.vertical-line{
    height: 100vh;
    width: 0.5vw;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    left: 50%;
}

.edu-content-left h3{
    text-align: center;
    color: #1877F2;
    font-size: 1.2rem;
}

.edu-content-left p{
    text-align: center;
    color: #f4f1f1;
    font-size: 0.8rem;
}
.edu-content-right h3{
    text-align: center;
    color: #1877F2;
    font-size: 1.2rem;
}

.edu-content-right p{
    text-align: center;
    color:  #f4f1f1;
    font-size: 0.8rem;
}
/* #education{
    background-color: white;
    height: 100.84vh;
}
#education .container{
    display: flex;
    flex-wrap: wrap;
}
.item{
    height: 37.8151vh;
    width: 17.5781vw;
    margin: 13.445vh 3.20vw 0px 5.0781vw;
}
#one{
    background-image: url(images/aktu.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 2px black;
}
#two{
    background-image: url(images/12th.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 2px black;
}
#three{
    background-image: url(images/10th.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 2px black;
}
.item{
    transition: all 0.2s ease-in-out;
}
.item:hover{
    transform: scale(0.9);
}
.education-item-1 ,.education-item-2 ,.education-item-3 {
    text-align: center;
    color: black;
} */



/* Projects section */
#project  {
    height: 100.84vh;
    text-align: left;
    background-color:white;
    text-align: center;
    padding-left: 1.1718vw;
}
#project .container{
    display: flex;
    flex-wrap: wrap;
}

.project-item{
    height: 58.8235vh;
    width: 27.343vw;
    margin-top: 16.806vh;
    margin-right: 4.6875vw;
    border-radius: 10px;
    background-image: url(images/project.jpg);
    background-size: cover;
}
.project-link{
    margin-top: 16.806vh;
}
.project-link a{
    color: black;
    font-size: large;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    transition: all .2s linear;
}
.project-link a:hover{
    color: #1877F2;
}
/* Contact section */
#contact{
    background-color:white;
    display: flex;
    height: 97.4789vh;
    justify-content: space-around;
}
pre{
    text-align:justify;
    color:#141E46;
    margin-left: 0.39vw;
    line-height: 4vh;
    font-family: montserrat;
    font-size: 1.25rem;
}



.contact-form{
    padding: 1.68vh 1.5625vw;
    height: 90.9495vh;
    width: 80.375vw;
    display: inline-block;
    text-align: left;
    background-color:rgb(242, 241, 241);
    border: 2px sloid black;
    box-shadow: 3px 4px 2px 3px black;
    border-radius: 13px;
}
.contact-form span{
    color:#012359;
}
.contact-form .form{
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 1px 2px 2px 2px grey;
    height: 7.764vh;
    width: 27.343vw;
}
.contact-form #submit-button{
    height: 4.201vh;
    width: 5.468vw;
    background-color:  rgb(216, 234, 244);
    border: 1px solid black;
    color: black;
}
textarea{
    resize:none;
}
button{
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 2px;
    transition: all .2s linear;
}
button:hover{
    transform: scale(1.1);
}
#submit-button:active{
    background-color: rgb(78, 73, 57);
    color: whitesmoke;
}
span{
    color: black;
    font-family:cursive;
}
::placeholder{
    color:#232323;
    font-family:cursive ;
}

.logo{
    height: 5vh;
    display: flex;
    justify-content: center;
}
.logo a{
    height: 16.80vh;
    width: 7.8125vw;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 110px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
}
.logo a i{
    font-size: 30px;
    transition: all 0.25s ease-in-out;
}
.logo a:hover i{
    transform: scale(1.5);
}
.fa-instagram{
    color: #e9338b;
}
.fa-facebook{
    color:#1877F2;
}
.fa-github{
    color: #6e5494;
}
.fa-x-twitter{
    color:#14171A;
}
.fa-code{
    color: orange;
}
html{
    scroll-behavior:smooth;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    
    nav ul li {
        margin-right: 10px;
    }

    p {
        font-size: 1rem;
    }

    .section {
        padding: 40px 0;
    }

    .section h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}
@media (max-width: 500px) {
    header h1 {
        font-size: 2rem;
    }

    
    nav ul li {
        margin-right: 10px;
    }

    p {
        font-size: 1rem;
    }

    .section {
        padding: 40px 0;
    }

    .section h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}