*{
    padding: 0px;
    margin: 0px;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(255, 255, 255);
}
/* Header */
header {
    display:flex;
    height: 100.84vh;
    background-color:rgb(234,230,230);
    color: #fff;
    padding: 3.361vh 0;
    justify-content:space-evenly;
}
#header .header-container .header-text{
    color:black;
    text-align: justify;
}
#header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
#header #header-photo{
    height: 50.42vh;
    width: 23.4375vw;
    margin: 20.168vh 7.8125vw 0 14.0625vw;
    border-radius: 50%;
    background-color: #2fe8e5;
    box-shadow: 2px 4px 2px 2px #bcfaf9;
    background-image: url(ujjwal.png);
    background-size: cover;
    transition: all 0.3s ease-in-out;
}
#header #header-photo:hover{
    transform: scale(1.5);
}
/* Navigation Bar */
nav{
    display: flex;
    height: 5.042vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-container nav ul{
    position:absolute;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1.68vh 1.5625vw;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    position: relative;
    transition: all 0.2s linear;
}
nav ul li a:hover{
    transition-delay: .05s;
    color: blue;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: navy;
    position: absolute;
    left: 0px;
    bottom: -5px;
    transition: 0.27s;
}
nav ul li a:hover::after{
    width: 100%;
}
h1, h2, h3 {
    color:#141E46;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    font-size: 3.75rem;
    letter-spacing: 2px;
}
h2 {
    font-size: 1.875rem;
    margin-bottom: 5.042vh;
}
h3 {
    font: size 1.25rem;;
    margin-bottom: 1.680vh;
}
p {
    font-size: 0.938rem;
    line-height: 1.5;
    color: #555;
}
/* Sections */

.skill-container{
    height: 100.84vh;
    padding-left: 1.5625vw;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(234,230,230);
}

.box{
    height: 37.8151vh;
    width: 17.5781vw;
    margin: 13.445vh 3.20vw 0px 5.0781vw;
}
#html{
    background-image: url(webdev.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 2px black;
}
#webdev{
    background-image: url(html1.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 2px black;
}
#general{
    background-image: url(others.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 2px black;
}
li{
    color: black;
    list-style: none;
    text-align: center;
}
.box{
    transition: all 0.3s ease-in-out;
}
.box:hover{
    transform: scale(0.9);
}
#education{
    background-color: rgb(234,230,230);
    height: 100.84vh;
}
#education .container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:start; */
}
.item{
    height: 37.8151vh;
    width: 17.5781vw;
    margin: 13.445vh 3.20vw 0px 5.0781vw;
}
#one{
    background-image: url(aktu.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 2px black;
}
#two{
    background-image: url(12th.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 2px black;
}
#three{
    background-image: url(10th.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 1px 2px 3px 2px black;
}
.item{
    transition: all 0.2s ease-in-out;
}
.item:hover{
    transform: scale(0.9);
}
.education-item-1 ,.education-item-2 ,.education-item-3 {
    text-align: center;
    color: black;
}

/* Projects section */
#project  {
    height: 100.84vh;
    text-align: left;
    background-color:rgb(234,230,230);
    text-align: center;
    padding-left: 1.1718vw;
}
#project .container{
    display: flex;
    flex-wrap: wrap;
}

.project-item{
    height: 58.8235vh;
    width: 27.343vw;
    margin-top: 16.806vh;
    margin-right: 4.6875vw;
    border-radius: 10px;
    background-image: url(project.jpg);
    background-size: cover;
}
.project-link{
    margin-top: 16.806vh;
}
.project-link a{
    color: black;
    font-size: large;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    transition: all .2s linear;
}
.project-link a:hover{
    color: #1877F2;
}
/* Contact section */
#contact{
    background-color: rgb(234,230,230);
    display: flex;
    height: 97.4789vh;
    justify-content: space-around;
}
pre{
    text-align:justify;
    color:#141E46;
    margin-left: 0.39vw;
    line-height: 22.5px;
    font-family: montserrat;
    font-size: 1.25rem;
}
#contact .container{
    height: 89.075vh;
    border-radius: 10px;
    background-color:rgb(119, 232, 255);
    box-shadow: 1px 4px 2px 2px black;
}
#contact .container p{
    margin-left: 0.39vw;
    color: #141E46;
}
.contact-photo{
    height: 16.806vh;
    width: 15.625vw;
    margin-left: 0.9375vw;
    background-image: url(contact.jpg);
    background-size: cover;
}
#contact .section {
    display: flex;
    flex-wrap: wrap;
    text-align:start;
    padding: 6.722vh 0;
}
.contact-form{
    padding: 1.68vh 1.5625vw;
    height: 73.9495vh;
    width: 34.375vw;
    display: inline-block;
    text-align: left;
    background-color:rgb(119, 232, 255);
    border: 2px sloid black;
    box-shadow: 3px 4px 2px 3px black;
    border-radius: 5%;
}
.contact-form span{
    color:#037471;
}
.contact-form .form{
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: 1px 2px 2px 2px grey;
    height: 11.764vh;
    width: 27.343vw;
}
.contact-form #submit-button{
    height: 4.201vh;
    width: 5.468vw;
    background-color:  rgb(216, 234, 244);
    border: 1px solid black;
    color: black;
}
textarea{
    resize: none;
}
button{
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 2px;
    transition: all .2s linear;
}
button:hover{
    transform: scale(1.1);
}
#submit-button:active{
    background-color: rgb(78, 73, 57);
    color: whitesmoke;
}
span{
    color: black;
    font-family:cursive;
}
::placeholder{
    color:#506349;
}

.logo{
    height: 5vh;
    display: flex;
    justify-content: center;
}
.logo a{
    height: 16.80vh;
    width: 7.8125vw;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 110px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
}
.logo a i{
    font-size: 30px;
    transition: all 0.25s ease-in-out;
}
.logo a:hover i{
    transform: scale(1.5);
}
.fa-instagram{
    color: #e9338b;
}
.fa-facebook{
    color:#1877F2;
}
.fa-github{
    color: #6e5494;
}
.fa-x-twitter{
    color:#14171A;
}
html{
    scroll-behavior:smooth;
}
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    
    nav ul li {
        margin-right: 10px;
    }

    p {
        font-size: 1rem;
    }

    .section {
        padding: 40px 0;
    }

    .section h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}
@media (max-width: 500px) {
    header h1 {
        font-size: 2rem;
    }

    
    nav ul li {
        margin-right: 10px;
    }

    p {
        font-size: 1rem;
    }

    .section {
        padding: 40px 0;
    }

    .section h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}